In [ ]:
import pandas as pd
from sklearn import impute, model_selection
from sklearn.experimental import enable_iterative_imputer # Necessário para o IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.dummy import DummyClassifier
import missingno as msno
import matplotlib.pyplot as plt

In [ ]:
# Célula 1: Carga de Dados e Inspeção
df = pd.read_excel('titanic3.xls')

# Inspeção inicial (opcional, mas bom para checagem)
print("Formato dos dados:", df.shape)
print("Cabeçalho:")
df.head()

In [ ]:
df.fillna(value=pd.NA, inplace=True) #  Substitui valores ausentes por pd.NA

In [ ]:
df

In [ ]:
ax = msno.matrix(df.sample(500))
ax.get_figure().savefig('titanic/images/mlpr_0401.png')

In [ ]:
fig, ax = plt.subplots(figsize=(6, 4))
(1 - df.isnull().mean()).abs().plot.bar(ax=ax)
fig.savefig("titanic/images/mlpr_0402.png", dpi=300)

In [ ]:
ax = msno.bar(df.sample(500))
ax.get_figure().savefig('titanic/images/mlpr_0403.png')

In [ ]:
ax = msno.heatmap(df, figsize=(6, 6))
ax.get_figure().savefig('titanic/images/mlpr_0404.png')

In [ ]:
ax = msno.dendrogram(df)
ax.get_figure().savefig('titanic/images/mlpr_0405.png')

In [ ]:
df1 = df.drop(columns=['age', 'cabin', 'boat', 'body', 'home.dest'])

In [ ]:
df1

In [ ]:
from sklearn.impute import SimpleImputer
num_cols = df1.select_dtypes(
    include='number'
).columns
im = SimpleImputer()  # médio 
imputed = im.fit_transform(df1[num_cols])

In [ ]:
imputed

In [ ]:
def add_indicator(col):
    def wrapper(df1):
        return df1[col].isna().astype(int)
    
    return wrapper

In [ ]:
df1 = df.assign(
    cabin_missing=add_indicator('cabin')
)

In [ ]:
df1

In [ ]:
import pandas as pd 
import janitor as jn

Xbad = pd.DataFrame(
    {
        "A": [1, None, 3], 
        "  sales_numbers ": [20.0, 30.0, None],
    }
)

In [ ]:
jn.clean_names(Xbad)

In [ ]:
def clean_col(name):
    return(
        name.strip().lower().replace(" ", "_")
    )

In [ ]:
Xbad.rename(columns=clean_col)
Xbad

In [ ]:
Xbad.fillna(10)

      A    sales_numbers
0   1.0              20.0
1  10.0              30.0
2   3.0              10.0

In [ ]:
df.isna().any().any()